body {
    background-color: #000a3b;
}

.g_panel {
    flex: 1 0 210px;
    justify-content: center;
    display: flex;
}

.g_panel_main {
    flex: 3 0 210px;
    justify-content: center;
    display: flex;
}

.g_box {
    /*background-image: url('../images/bg_home_common.png');
    background-repeat: no-repeat;*/
    width: 100%;
}

.g_box_main {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
