/***
 * Created by: Mienard Lumaad
 * Date: May 15, 2012
 * Website: http://themepixels.com/
***/
 

/***** 1. RESET STYLE *****/
/**************************/

 
/* with menu style 2 in collapsed mode */


 
.copyrights {
    text-indent: -9999px;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
}


/***** 4. LOGIN PAGE *****/
/*************************/

.loginpage {
    background: #fff url(../images/patternbg.png);
}

.loginbox {
    width: 350px;
    padding: 5px;
    background: #fff;
    margin: 7% auto 0 auto;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0 0 2px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.3);
    box-shadow: 0 0 2px rgba(0,0,0,0.3);
}

.loginboxinner {
    padding: 20px;
    background: #32415a url(../images/patternbg.png);
    -moz-border-radius: 0 2px 2px 0;
    -webkit-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px;
}

.loginbox .logo {
    text-align: center;
}

    .loginbox .logo h1 {
        font-family: 'RobotoCondensed', Arial, Helvetica, sans-serif;
        font-size: 32px;
        color: #fff;
        border-bottom: 1px solid #56647d;
        line-height: normal;
        margin-bottom: 5px;
    }

        .loginbox .logo h1 span {
            color: #FB9337;
        }

    .loginbox .logo p {
        font-weight: bold;
        color: #eee;
        font-style: italic;
    }

.loginbox form {
    display: block;
    margin-top: 20px;
}

.loginbox .username {
    background: #eee url(../images/icons/username.png) no-repeat 13px center;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.4);
    box-shadow: 0 1px 2px rgba(0,0,0,0.4);
    margin: 20px 0;
}

.loginbox .usernameinner {
    margin-left: 45px;
    border-left: 1px solid #ddd;
    background: #fff;
    padding-right: 20px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.loginbox .username input {
    padding: 15px 10px;
    border: 0;
    font-size: 14px;
    width: 100%;
    box-shadow: none;
    color: #666;
    font-family: 'RobotoCondensed', Arial, Helvetica, sans-serif;
    -moz-border-radius: 0 2px 2px 0;
    -webkit-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
}

.loginbox .password {
    background: #eee url(../images/icons/password.png) no-repeat 13px center;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.4);
    box-shadow: 0 1px 2px rgba(0,0,0,0.4);
    margin: 20px 0;
    overflow: hidden;
}

.loginbox .passwordinner {
    margin-left: 45px;
    border-left: 1px solid #ddd;
    background: #fff;
}

.loginbox .password input {
    padding: 15px 10px;
    border: 0;
    font-size: 14px;
    width: 330px;
    box-shadow: none;
    color: #666;
    font-family: 'RobotoCondensed', Arial, Helvetica, sans-serif;
}

.loginbox button {
    background: #f0801d url(../images/btngrad.png) repeat-x top left;
    border: 0;
    padding: 15px 0;
    text-align: center;
    font-family: 'RobotoCondensed', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    width: 100%;
    text-transform: uppercase;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.4);
    box-shadow: 0 1px 2px rgba(0,0,0,0.4);
}

    .loginbox button:hover {
        background-color: #f0721e;
    }

.loginbox .keep {
    margin-top: 20px;
    font-weight: bold;
    color: #ccc;
    font-size: 11px;
}

.loginbox .loginmsg {
    background: #fffccc;
    color: #333;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
    font-size: 11px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.loginf {
    padding: 10px;
    background: #2e3e59;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: inset 0 1px 1px #23324b;
    -webkit-box-shadow: inset 0 1px 1px #23324b;
    box-shadow: inset 0 1px 1px #23324b;
    border-bottom: 1px solid #475875;
}

.loginpage .nousername, .loginpage .nopassword {
    display: none;
}

.loginpage .nopassword {
    color: #fff;
}

    .loginpage .nopassword .thumb {
        padding: 5px;
        background: #fff;
        display: inline-block;
        vertical-align: top;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
    }

    .loginpage .nopassword .userlogged {
        display: inline-block;
        margin-left: 10px;
        font-weight: bold;
    }

        .loginpage .nopassword .userlogged h4 {
            font-size: 14px;
            font-family: 'RobotoCondensed', Arial, Helvetica, sans-serif;
        }

        .loginpage .nopassword .userlogged a {
            color: #f0801d;
            font-style: italic;
        }

            .loginpage .nopassword .userlogged a:hover {
                text-decoration: underline;
            }

.loginpage .notibar {
    border: 0;
}


/***** 5. TOP HEADER STYLES *****/
/********************************/


.topheader {
    background: #34445e url(../images/default/topheaderbg.png);
    padding: 8px 10px;
    position: relative;
    border-bottom: 1px solid #303f59;
}

    .topheader .left h1.logo {
        font-family: 'RobotoCondensed', Arial, Helvetica, sans-serif;
        font-weight: normal;
        text-transform: uppercase;
        color: #fb9337;
        float: left;
        font-size: 30px;
        margin: 10px 0;
    }

        .topheader .left h1.logo a {
            color: #fb9337;
        }

        .topheader .left h1.logo span {
            color: #fff;
        }

    .topheader .left .slogan {
        font-family: 'RobotoCondensed', Arial, Helvetica, sans-serif;
        float: left;
        padding: 8px 10px;
        border-left: 1px solid #606d84;
        color: #6a778d;
        font-style: italic;
        margin: 2px 10px;
    }

.search {
    float: left;
    margin: 2px 10px;
}

    .search input[type=text] {
        border: 0;
        padding: 10px 8px 11px 8px;
        background: #32415a;
        float: left;
        color: #4a5b78;
        -moz-border-radius: 2px 0 0 2px;
        margin: 0;
        -webkit-border-radius: 2px 0 0 2px;
        border-radius: 2px 0 0 2px;
        border-bottom: 1px solid #445775;
        width: 200px;
        font-style: italic;
        -moz-box-shadow: inset 1px 1px 2px #2b384e;
        -webkit-box-shadow: inset 1px 1px 2px #2b384e;
        box-shadow: inset 1px 1px 2px #2b384e;
    }

        .search input[type=text]:focus {
            font-style: normal;
            color: #6a778d;
        }

    .search .submitbutton {
        float: left;
        border: 0;
        border-bottom: 1px solid #445775;
        -moz-border-radius: 0 0 2px 0;
        -webkit-border-radius: 0 0 2px 0;
        cursor: pointer;
        border-radius: 0 0 2px 0;
        background: url(../images/default/searchbutton.png) no-repeat 0 0;
        width: 38px;
        height: 37px;
        vertical-align: middle;
    }

.topheader .right {
    position: absolute;
    top: 10px;
    right: 10px;
}

.notification {
    float: left;
    position: relative;
}

    .notification a.count {
        background: #cc170e url(../images/default/notibg.png) repeat-x top left;
        margin-right: 10px;
        font-size: 14px;
        font-family: 'RobotoCondensed', Arial, Helvetica, sans-serif;
        padding: 8px 13px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        border-bottom: 1px solid #445775;
        -moz-box-shadow: inset 0 0 5px #400603;
        -webkit-box-shadow: inset 0 0 5px #400603;
        box-shadow: inset 0 0 5px #400603;
        color: #fff;
        cursor: pointer;
        display: inline-block;
    }

        .notification a.count:hover {
            background: #d7180e;
        }

.noticontent {
    position: absolute;
    z-index: 100;
    width: 300px;
    top: 48px;
    right: 10px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #fff;
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 200;
}


/***** 5. NOTIFICATION STYLES *****/
/**********************************/


.notitab {
    list-style: none;
    overflow: hidden;
    border-bottom: 1px solid #FB9337;
    padding: 5px 5px 0 5px;
    margin-bottom: 1px;
}

    .notitab li {
        display: inline-block;
        width: 50%;
        float: left;
    }

        .notitab li a {
            display: block;
            padding: 10px 20px;
            font-weight: bold;
            text-align: center;
            -moz-border-radius: 2px 2px 0 0;
            -webkit-border-radius: 2px 2px 0 0;
            border-radius: 2px 2px 0 0;
        }

            .notitab li a:hover {
                color: #FB9337;
            }

        .notitab li.current a {
            background: #FB9337;
            color: #fff;
        }

.msglist {
    list-style: none;
}

    .msglist li {
        border-bottom: 1px solid #eee;
        line-height: 16px;
    }

        .msglist li:first-child {
            padding-top: 0;
        }

        .msglist li a {
            padding: 5px;
            display: block;
        }

            .msglist li a:hover {
                background: #f7f7f7;
            }

        .msglist li .thumb {
            border: 1px solid #fff;
            display: inline-block;
            float: left;
            margin-right: 10px;
        }

            .msglist li .thumb:hover {
                border: 1px solid #FB9337;
            }

        .msglist li img {
            vertical-align: middle;
        }

.msgdetails {
    line-height: 18px;
}

    .msgdetails span {
        display: block;
    }

    .msgdetails .name {
        font-weight: bold;
        color: #485B79;
    }

    .msgdetails .msg {
        font-size: 11px;
    }

    .msgdetails .time {
        font-size: 10px;
        color: #999;
    }

.msgbutton {
    text-align: right;
    padding: 10px;
    overflow: hidden;
}

    .msgbutton a {
        padding: 5px 10px;
        background: #eee;
        display: inline-block;
        font-size: 11px;
        font-weight: bold;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
    }

        .msgbutton a:hover {
            background: #FB9337;
            color: #fff;
        }

        .msgbutton a:first-child {
            float: left;
        }

.actlist {
    list-style: none;
}

    .actlist li {
        display: block;
        padding: 8px 10px;
        border-bottom: 1px solid #eee;
        line-height: 16px;
    }

        .actlist li a {
            color: #485B79;
            font-weight: bold;
        }

            .actlist li a:hover {
                color: #FB9337;
            }

        .actlist li span {
            display: block;
            font-size: 10px;
            color: #999;
        }


/***** 6. USER INFORMATION DROP STYLES *****/
/*******************************************/


.userinfo {
    padding: 6px 18px 6px 6px;
    background: #32415a url(../images/default/userinfoarrow.png) no-repeat right center;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: inset 1px 1px 2px #2b384e;
    float: left;
    border-bottom: 1px solid #445775;
    -webkit-box-shadow: inset 1px 1px 2px #2b384e;
    box-shadow: inset 1px 1px 2px #2b384e;
    cursor: pointer;
}

    .userinfo:hover {
        background-color: #2d3b53;
    }

    .userinfo img {
        border: 1px solid #b9c1ce;
        vertical-align: middle;
    }

    .userinfo span {
        color: #b9c2cf;
        display: inline-block;
        padding: 0 5px;
        font-family: 'RobotoCondensed', Arial, Helvetica, sans-serif;
    }

.userinfodrop {
    padding: 10px;
    min-width: 300px;
    position: absolute;
    top: 48px;
    right: 0;
    -moz-border-radius: 2px;
    display: none;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #fff;
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 200;
}

    .userinfodrop .avatar {
        float: left;
    }

.userdata {
    margin-left: 105px;
}

    .userdata h4 {
        color: #2d3c54;
        display: inline-block;
    }

    .userdata .email {
        color: #999;
        font-size: 11px;
        display: inline-block;
    }

    .userdata ul {
        list-style: none;
        margin-top: 10px;
    }

        .userdata ul li {
            display: block;
            margin-bottom: 1px;
        }

            .userdata ul li:last-child {
                margin-bottom: 0;
            }

            .userdata ul li a {
                display: block;
                padding: 5px;
                background: #f7f7f7;
                -moz-border-radius: 2px;
                -webkit-border-radius: 2px;
                border-radius: 2px;
            }

                .userdata ul li a:hover {
                    background: #fb9337;
                    color: #fff;
                }


/***** 7. HEADER STYLES *****/
/****************************/


.header {
    background: #485b79 url(../images/default/headerbg.png);
    min-height: 50px;
    overflow: hidden;
    border-bottom: 5px solid #fb9337;
    -moz-box-shadow: inset 0 1px 0 #50627f;
    -webkit-box-shadow: inset 0 1px 0 #50627f;
    box-shadow: inset 0 1px 0 #50627f;
    position: relative;
}

.headermenu {
    overflow: hidden;
    list-style: none;
    border-right: 1px solid #576a85;
    display: inline-block;
}

    .headermenu li {
        float: left;
        display: inline-block;
        border-left: 1px solid #576a85;
        border-right: 1px solid #394962;
    }

        .headermenu li:first-child {
            border-left: 0;
        }

        .headermenu li a {
            display: block;
            font-family: 'RobotoCondensed', Arial, Helvetica, sans-serif;
            color: #fff;
            text-transform: uppercase;
            padding: 17px 10px;
        }

        .headermenu li a {
            min-width: 80px;
            text-align: center;
        }

            .headermenu li a span {
                opacity: 0.5;
            }

                .headermenu li a span.icon {
                    height: 30px;
                    display: block;
                    margin-bottom: 10px;
                }

                .headermenu li a span.icon-flatscreen {
                    background: url(../images/icons/flatscreen.white.png) no-repeat center center;
                }

                .headermenu li a span.icon-pencil {
                    background: url(../images/icons/pencil.white.png) no-repeat center center;
                }

                .headermenu li a span.icon-speech {
                    background: url(../images/icons/speech.white.png) no-repeat center center;
                }

                .headermenu li a span.icon-message {
                    background: url(../images/icons/message.white.png) no-repeat center center;
                }

                .headermenu li a span.icon-chart {
                    background: url(../images/icons/chart.white.png) no-repeat center center;
                }

                .headermenu li a span.icon-graduate {
                    background: url(../images/icons/graduate.png) no-repeat center center;
                }

                .headermenu li a span.icon-system {
                    background: url(../images/icons/system.png) no-repeat center center;
                }

            .headermenu li a:hover {
                background: url(../images/default/bghover.png) no-repeat center bottom;
                -moz-box-shadow: inset 0 1px 0 #4f627e;
                -webkit-box-shadow: inset 0 1px 0 #4f627e;
                box-shadow: inset 0 1px 0 #4f627e;
            }

        .headermenu li.current {
            border-left: 0;
            border-right: 1px solid #394962;
        }

            .headermenu li.current a {
                background: url(../images/default/arrow-active.png) no-repeat center bottom;
                -moz-box-shadow: inset 0 1px 0 #4f627e;
                -webkit-box-shadow: inset 0 1px 0 #4f627e;
                box-shadow: inset 0 1px 0 #4f627e;
            }

                .headermenu li.current a span {
                    opacity: 1;
                }

.headerwidget {
    position: absolute;
    top: 10px;
    right: 10px;
}

    .headerwidget .earnings {
        background: #32415a;
        padding: 8px 10px;
        overflow: hidden;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        min-width: 200px;
        -moz-box-shadow: inset 1px 1px 2px #29374e;
        -webkit-box-shadow: inset 1px 1px 2px #29374e;
        box-shadow: inset 1px 1px 2px #29374e;
        border-bottom: 1px solid #516686;
    }

        .headerwidget .earnings h4 {
            font-weight: normal;
            text-transform: uppercase;
            color: #eee;
            font-size: 11px;
            font-family: 'RobotoCondensed', Arial, Helvetica, sans-serif;
            margin-bottom: 8px;
        }

        .headerwidget .earnings h2 {
            color: #f6e4a5;
            font-size: 32px;
            font-weight: normal;
            font-family: 'RobotoCondensed', Arial, Helvetica, sans-serif;
            margin-bottom: 8px;
        }


/***** 8. PAGE HEADER STYLES *****/
/*********************************/


.pageheader {
    padding-top: 20px;
    background: url(../images/default/noise.white.png);
    position: relative;
}

    .pageheader .pagetitle {
        margin: 0 10px;
        color: #485b79;
        font-weight: normal;
        font-size: 28px;
        font-family: 'RobotoBoldCondensed', Arial, Helvetica, sans-serif;
    }

    .pageheader .pagedesc {
        color: #666;
        margin: 0 10px;
    }

.notab {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}


